<style>
body {background-color: aliceblue;}
h1   {color: lightblue;}
p    {color: red;}

header {
  background-color: #666;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  color: gray;
}


</style> 
